*{
    color: #FFFC4F;
}

body{
    background-color: #170700;
    padding: 10px 35px;
}

h1{
    margin-bottom: 40px;
}

button{
    background-color: #5C218A;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: large;
}

ul{
    list-style: none;
    padding: 10px;
}

canvas{
    border: 10px double #5C218A;
}

hr{
    height: 15px;
    border-radius: 5px;
}

footer{
    width: 100%;
    text-align: center;
    margin-top: 70px;
}

#title{
    width: 100%;
    text-align: center;
}

#div-img-original{
    margin: 15px auto;
    text-align: center;

}

#div-img-processada{
    margin: auto;
    text-align: center;

}

#tons{
    position: absolute;
    left: 150px;
    top: 0;
    display: none;
    
}

#canvas-click{
    display: none;
    margin: 15px
}

.canvas-data{
    display: flex;
    border: 10px double #FFFC4F;
    border-radius: 5px;    
}